<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit news report</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../static/css/styles.min.css">
</head>

<body>
<div class="container">
      {% include 'includes/_messages.html' %}
      {% block body %}{% endblock %}
    </div>
<div class="container d-table-cell">
    <div class="col">
        <h1 class="text-center">Update Emergency</h1>
    </div>
    <form enctype="multipart/form-data" action="/editreport" method="POST">
        <div class="col">
            <div class="row">
                <div class="col-lg-6">
                    <p class="text-right">Report ID :</p>
                </div>
                <div class="col-lg-6">
                    <input name="reportID" type="text" required name="reportID"  class="align-items-center align-content-center"  value={{request.form.reportID}} >
                </div>
                <div class="col-lg-6">
                    <p class="text-right">Description:</p>
                </div>
                <div class="col">
                    <textarea name="description" class="align-items-center align-content-center"
                              value={{request.form.description}}></textarea>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-primary active align-items-center" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div>

</div>
<div></div>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<script>
    $( document ).ready(function() {
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');
                    if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
        }};
        var reportID = getUrlParameter('reportID');
        $('input[name=reportID]').val(reportID);
        $('input[name=reportID]').prop('disabled', true);
    });

</script>
</body>

</html>