<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>smart_app webpage1</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../static/css/styles.min.css">
</head>

<body>
<div class="register-photo">
    <div class="form-container">
        {% from "includes/_formhelpers.html" import render_field %}
        <form method="post" action="/register">
            <h2 class="text-center"><strong>Register</strong></h2>
            <div class="form-group">
                {{render_field(form.name, class_="form-control")}}
                {{render_field(form.email, class_="form-control")}}
                {{render_field(form.street, class_="form-control")}}
                {{render_field(form.city, class_="form-control")}}
                {{render_field(form.zipcode, class_="form-control")}}
                {{render_field(form.phone, class_="form-control")}}
                {{render_field(form.password, class_="form-control")}}
                {{render_field(form.confirm, class_="form-control")}}
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block" value="Sign up"
                           style="background-color:rgb(74,71,244);"></p>
                </div>
                <a href="/login" class="already">You already have an account? Login here.</a>
            </div>
        </form>
    </div>
</div>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>